header {
  height: 6.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--light-grey);
}

header img {
  width: 16rem;
  padding: 2.4rem;
}

.col {
  width: 90vw;
  max-width: 1000px;
  height: 100%;
  margin: auto;
  padding: 3.2rem;
}

.grid-album {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-gap: 2.4rem;
  box-shadow: 1px 1px 10px var(--dark);
  background-image: linear-gradient(to left, rgba(44, 35, 76), rgba(44, 35, 76, 0.1)), url(../images/background-song.jpg);
  padding: 2.4rem;
  color: var(--light);
}

.grid-album img {
  width: 100%;
}

.grid-album .details-album {
  font-size: 2.4rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.list-song {
  font-size: 1.6rem;
  margin-bottom: 16rem
}

.list-song li {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--dark-opacity);
  border-bottom: 1px solid var(--dark-opacity);
  padding: 0.8rem;
  cursor: pointer;
}

.list-song li p {
  margin-left: 1.6rem;
}

@media(max-width: 700px) {
  .grid-album {
    grid-template-columns: 1fr;
  }

  .grid-album img {
    width: 80;
  }
}

/*  */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 9.6rem;
  background: var(--black);

  display: flex;
  flex-direction: column;
}

.top {
  background: var(--black);
  padding:  0.8rem 2.4rem;
  
  display: flex;
  align-items: center;
  border-bottom: 0.01em solid var(--grey-opacity);
}

footer .top i {
  color: var(--light);
  cursor: pointer;
  font-size: 1.6rem;
}

footer .top .fa-volume-up {
  margin-right: 2.4rem;
}

footer .top .fa-volume-mute {
  display: none;
  color: var(--red);
}

footer .top .controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .top .controls i {
  margin: 0 0.8rem;
}

footer .top .controls .volume-container {
  max-width: 380px;
  height: 0.8rem;
  width: 100px;
  background-color: var(--grey-opacity);
  padding: 0;
}

footer .top .controls .volume-progress {
  width: 100%;
  height: 100%;
  background: var(--light-grey);
}

.bottom {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem;
}

footer .bottom span {
  font-size: 1.4rem;
  color: var(--light-grey);
  padding: 0 24px;
}

footer .bottom span strong:hover {
  border-bottom: 1px solid var(--light-grey);
  cursor: pointer;
}

footer .bottom i {
  font-size: 1.6rem;
  color: var(--light);
  margin: 0 2.4rem;
  cursor: pointer;
}

.bottom .music-time-container {
  max-width: 380px;
  height: 0.8rem;
  width: 100%;
  background-color: var(--grey-opacity);
  padding: 0;
}

.bottom .music-time-progress {
  width: 0%;
  height: 100%;
  background: var(--light-grey);
}

.bottom .play-bigger {
  margin-bottom: 8px;
  font-size: 2.4rem;
}

audio {
  display: none;
}

@media (max-width: 700px) {
  footer .bottom span {
    display: none;
  }

  .bottom .music-time-container {
    max-width: 180px;
  }

}

@media(max-width: 450px) {
  .bottom .music-time-container {
    display: none;
  }

  .bottom {
    justify-content: center;
  }
}