:root {
  --black: #121212;
  --dark-opacity: #0003;
  --dark: #333;
  --dark-opacity: #3331;
  --light: #fff;
  --success: #7159c1;
  --light-grey: #f2f2f5;
  --grey-opacity: #eee3;
  --red: #E13612;
  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

body,
input,
button {
  font: 500 1.6rem 'Poppins';
  color: var(--dark);
}

.col {
  width: 90vw;
  max-width: 1100px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--dark);
}

audio {
  display: none;
}

@media (min-width: 700px) {
  body {
    font-size: 62.5%;
  }
}